.post-container{
    max-width: 40em;
    margin: 0 auto;
}

.post-title{
    color: var(--text-primary);
    font-size: 20px;
    text-align: center;
}

.post-picture{
    width: 100%
}

.post-content{

}